#CHANGE THE PATHS FIRST!
#Path to shell scripts and temp files directory
shdir=/example/shell

#Webhooks
banhook=https://discord.com/api/webhooks/
unbanhook=https://discord.com/api/webhooks/

#Enable send components
#NOTE that false value does not disable download, comparing, CSV data collecting. Just skipping sending to discord
isban=true
isunban=true

#Send message if today's list is empty
errorsend=true

#Enable bans data collecting in analytics.csv
analytics=false

#PING member or role if list empty (leave blank if ping not needed)
errorping='<@&000000000000000>'

#Date variable e.g 24/02/25
qdate=$(date +%d/%m/%y)

#Date variable for data collecting
csvdate=$(date +%d.%m.%Y)
