#CHANGE THE PATHS FIRST!
#Path to shell scripts and temp files directory
shdir=/example/shell

#Webhooks
banhook=("https://discord.com/api/webhooks/")
unbanhook=("https://discord.com/api/webhooks/")

#Custom nickname and profile image of sender
botname='Запретян~<3'
boticon='https://cdn.discordapp.com/avatars/907372459144147035/2771cf414eececfd9818a4dce423f7fc.webp'

#Enable send components
#NOTE that false value does not disable download, comparing, CSV data collecting. Just skipping sending to discord
isban=true
isunban=true

#Send message if today's list is empty
errorsend=true

#Enable bans data collecting in analytics.csv
analytics=false

#PING member or role if list empty (leave blank if ping not needed)
errorping='<@&000000000000000>'

#Date variable e.g 24/02/25
qdate=$(date +%d/%m/%y)

#Date variable for data collecting
csvdate=$(date +%d.%m.%Y)
