[Unit]
Description=Trigger for Zapretyan Discord Webhook

[Timer]
Persistent=true
OnCalendar=Mon..Sun *-*-* 08:00:00

[Install]
WantedBy=timers.target
